<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>439621369113-9iqssauvd4jnr3kqrl6it7sjdock5n53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.439621369113-9iqssauvd4jnr3kqrl6it7sjdock5n53</string>
	<key>API_KEY</key>
	<string>AIzaSyBjsrIe-BK8axXQjuvO2A3H3E490ST3b3I</string>
	<key>GCM_SENDER_ID</key>
	<string>439621369113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.greenupvermont.ios</string>
	<key>PROJECT_ID</key>
	<string>greenupvermont-de02b</string>
	<key>STORAGE_BUCKET</key>
	<string>greenupvermont-de02b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:439621369113:ios:e6be72ee2f214b9d</string>
	<key>DATABASE_URL</key>
	<string>https://greenupvermont-de02b.firebaseio.com</string>
</dict>
</plist>