body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}

h1 {
    color: #fff;
    font-weight: 300;
    font-size: 3.5em;
    white-space: nowrap;
    overflow: hidden;
}
header {
    max-width: 100%;
    padding: 0;
    background-color: #C0E0BB;
    margin: 0;
    border-bottom: solid;
    border-color: #666;
    border-width: 5px;
    font-size: 1.5em;
}

#logo {
    position:absolute;
    left:0;
    top:0;
    width: 265px;
    height: 264px;
}

header h1 {
    display: inline-block;
    margin: 60px 0 60px 270px;
    text-shadow: 2px 2px rgba(0, 0, 0, .30);
    /*float: right;*/
}

#wrapper {
    margin: 0 5%;
    max-width: 90%;
}

#map {
    margin-top: 100px;
    text-align: center;
    background-color: #a6b194;
    padding: 400px 0;
    color: #fff;
    clear: both;
    z-index: 1;
}

.location-button {
    /*display: block;*/
    background-color: #B3D1FF;
    color: #fff;
    text-align: center;
    font-size: 1.75em;
    font-weight: 800;
    text-shadow: 2px 2px rgba(0, 0, 0, .30);
    padding: 0;
    margin: 50px 25%;
    border: none;
    outline: none;
    transition: box-shadow .2s;
    width: 50%;
    line-height: 4em;
    float: left;
}

.location-button:active {
    box-shadow: inset 6px 6px 0px 0px rgba(0,0,0,.3);
}

.delete-button {
    display: none;
}

footer {
    font-size: 1em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #373737;
}

.icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    display: inline;
}
