@import "base-variables";

@mixin basic-button($radius) {
  background-color: $color-primary-3;
  color: $color-primary-0;
  padding: 1rem;
  margin: 0 .1rem;
  transition: background-color 0.5s;
  box-shadow: $box-shadow-00;
  &:hover {
    background-color: $color-primary-2;
  }
}


@mixin input-box-styles{

}

@mixin label-styles{}