//* SMACSS Base Styles for VCO *//
@import "base-variables";
@import "base-mixins";

@font-face {
  font-family: "robotoregular";
  src: url("fonts/roboto-regular-webfont.woff2") format("woff2"),
  url("fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color-background;
  color: $color-text;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  font-family: $font-family;
}

// Defines a hyperlink
a {
  color: $color-hyperlink;
  transition: color 0.5s;
  text-decoration: none;
  &:visited {
    color: black;
  }
  &:hover {
    color: lighten($color-hyperlink, 25%);
  }
  &:focus {
    color: lighten($color-hyperlink, 25%);
    text-decoration-style: dashed;
  }
}

// Defines an abbreviation or an acronym
abbr {
}

// Defines contact information for the author/owner of a document
address {
}

// Defines an area inside an image-map
area {
}

article { // Defines an article
}

// Defines content aside from the page content
aside {
}

// Defines sound content
audio {
}

// Defines bold text DO NOT USE! use <em> or <strong> instead
b {
}

// Specifies the base URL/target for all relative URLs in a document
base {
}

// Isolates a part of text that might be formatted in a different direction from other text outside it
bdi {
}

// Overrides the current text direction
bdo {
}

// Defines a section that is quoted from another source
blockquote {
}

// Defines a clickable button
button {
  .basic-button{};
}

// Used to draw graphics, on the fly, via scripting (usually JavaScript)
canvas {
}

// Defines a table caption
caption {
}

// Defines the title of a work
cite {
}

// Defines a piece of computer code
code {
}

// Specifies column properties for each column within a <colgroup> element
col {
}

// Specifies a group of one or more columns in a table for formatting
colgroup {
}

// Specifies a list of pre-defined options for input controls
datalist {
}

// Defines a description/value of a term in a description list
dd {
}

// Defines text that has been deleted from a document
del {
}

// Defines additional details that the user can view or hide
details {
}

// Represents the defining instance of a term
dfn {
}

// Defines a dialog box or window
dialog {
}

// Defines a description list
dl {
}

// Defines a term/name in a description list
dt {
}

// Defines emphasized text
em {
}

// Groups related elements in a form
fieldset {
}

// Defines a caption for a <figure> element
figcaption {
}

// Specifies self-contained content
figure {
}

// Defines a footer for a document or section
footer {
}

// Defines an HTML form for user input
form {
  display:block;
  box-sizing: border-box;
  width: 100%;
  padding: 2rem;
}

// <h1> to <h6> define HTML headings
h1, h2, h3, h4, h5, h6 {
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.8rem;
  font-weight: bold;
}

h5 {
  font-size: 2.4rem;
  font-weight: bold;
}

h6 {
  font-size: 2.2rem;
  font-weight: bold;
}

// Defines information about the document
head {
}

// Defines a header for a document or section
header {
}

// Defines a thematic change in the content
hr {
}

// Defines the root of an HTML document
html {
  color: $color-text;
  background: $color-background;
  font-family: $font-family;
}

// Defines a part of text in an alternate voice or mood
i {
}

// Defines an inline frame
iframe {
}



// Defines an input control
input {
  &[type='button'] {
    .basic-button{}
  }
  &[type='checkbox'] {
  }
  &[type='color'] {
    .input-box-styles{}
  }
  &[type='date'] {
    .input-box-styles{}
  }
  &[type='datetime'] {
    .input-box-styles{}
  }
  &[type='datetime-local'] {
    .input-box-styles{}
  }
  &[type='email'] {
    .input-box-styles{}
  }
  &[type='file'] {
    .input-box-styles{}
  }
  &[type='image'] {
  }
  &[type='month'] {
  }
  &[type='number'] {
  }
  &[type='password'] {
    .input-box-styles{}
  }
  &[type='radio'] {
  }
  &[type='range'] {
  }
  &[type='reset'] {
  }
  &[type='search'] {
    -moz-appearance: none; // override FF defaults
    -webkit-appearance: none; //override safari defaults
    .input-box-styles{}
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
  &[type='submit'] {
    .basic-button{}
  }
  &[type='tel'] {
    .input-box-styles{}
  }
  &[type='text'] {
    .input-box-styles{}
  }
  &[type='time'] {
  }
  &[type='url'] {
    .input-box-styles{}
  }
  &[type='week'] {
  }
}

// Defines a text that has been inserted into a document
ins {
}

// Defines keyboard input
kbd {
}

// Defines a label for an <input> element
label {
  .label-styles{}
  >span{display: block;}
}

// Defines a caption for a <fieldset> element
legend {
}

// Defines a list item
li {
}

// Defines the relationship between a document and an external resource (most used to link to style sheets)
link {
}

// Specifies the main content of a document
main {
}

// Defines a client-side image-map
map {
}

// Defines marked/highlighted text
mark {
}

// Defines a list/menu of commands
menu {
}

// Defines metadata about an HTML document
meta {
}

// Defines a scalar measurement within a known range (a gauge)
meter {
}

// Defines navigation links
nav {
}

// Defines an ordered list
ol {
}

// Defines a group of related options in a drop-down list
optgroup {
}

// Defines an option in a drop-down list
option {
}

// Defines the result of a calculation
output {
}

// Defines a paragraph
p {
}

// Defines preformatted text
pre {
}

// Represents the progress of a task
progress {
}

// Defines a short quotation
q {
}

// Defines what to show in browsers that do not support ruby annotations
rp {
}

// Defines an explanation/pronunciation of characters (for East Asian typography)
rt {
}

// Defines a ruby annotation (for East Asian typography)
ruby {
}

// Defines text that is no longer correct
s {
}

// Defines sample output from a computer program
samp {
}

// Defines a client-side script
script {
}

// Defines a section in a document
section {
}

// Defines a drop-down list
select {
}

// Defines smaller text
small {
  color: red;
}

// Defines multiple media resources for media elements (<video> and <audio>)
source {
}

// Defines a section in a document
span {

}

// Defines important text
strong {
}

// Defines style information for a document
style {
}

// Defines subscripted text
sub {
  vertical-align: sub;
  font-size: smaller;
}

// Defines a visible heading for a <details> element
summary {
}

// Defines super-scripted text
sup {
  vertical-align: super;
  font-size: smaller;
}

// Defines a table
table {
}

// Groups the body content in a table
tbody {
}

// Defines a cell in a table
td {
}

// Defines a multiline input control (text area)
textarea {
  display:block;
  width: 100%;
  min-height: 10rem;
  border: solid 1px $color-border;
  font-size: 1.6rem;
}


// Groups the footer content in a table
tfoot {
}

// Defines a header cell in a table
th {
}

// Groups the header content in a table
thead {
}

// Defines a date/time
time {
}

// Defines a title for the document
title {
}

// Defines a row in a table
tr {
}

// Defines text tracks for media elements (<video> and <audio>)
track {
}

// Defines text that should be stylistically different from normal text
u {
}

// Defines an unordered list
ul {
}

// Defines a variable
var {
}

// Defines a video or movie
video {
}



